<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 스크립트 추가 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">

    $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
        });
    });

    function page(page){
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();
        console.log(searchBy);
        console.log(searchQuery);
        location.href="/hospital/members/findHospital/" + page + "?searchBy=" + searchBy
        + "&searchQuery=" + searchQuery;
    }

    function selectHospital(){
        let userList = document.getElementById('hospitalList');
        let hoNo=0;
        let hoName;
        let hoPostNum=0;
        let hoAddress;
        for (let i = 1; i < userList.rows.length; i++) {
        userList.rows[i].cells[4].onclick = function () {
                hosNo = userList.rows[i].cells[0].innerText;
                hosName = userList.rows[i].cells[1].innerText;
                hosPostNum = userList.rows[i].cells[2].innerText;
                hosAddress = userList.rows[i].cells[3].innerText;
                alert(hosName+"을 선택하셨습니다.");
                window.opener.document.getElementById("hosName").value = hosName;
                window.opener.document.getElementById("hosPostNum").value = hosPostNum;
                window.opener.document.getElementById("hosAddress").value = hosAddress;
                window.opener.document.getElementById("hosNo").value = hosNo;
            }
        }


        console.log("자식창 닫기");
        window.close();
    }



</script>


<!-- 사용자 CSS 추가 -->

<style>
    select{
        margin-right:10px;
    }
</style>


<div>

    <form th:action="@{'/hospital/findHospital'}" role="form" method="get" th:object="${hospitals}">
        <table class="table" id="hospitalList">
            <thead>
            <tr>
                <td>병원번호</td>
                <td>병원명</td>
                <td>우편번호</td>
                <td>주소</td>
                <td>선택하기</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hospital , status:${hospitals.getContent()}" th:id="${hospital.hosNo}">
                <td th:text="${hospital.hosNo}"></td>
                <td th:text="${hospital.hosName}"></td>
                <td th:text="${hospital.hosPostNum}"></td>
                <td th:text="${hospital.hosAddress}"></td>
                <td> <button th:onclick="'javascript:selectHospital()'" type="button" th:id="${hospital.hosNo}" class="btn btn-primary">선택하기</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:with="start=${(hospitals.number/maxPage)*maxPage + 1}, end=(${(hospitals.totalPages == 0) ? 1 : (start + (maxPage - 1) < hospitals.totalPages ? start + (maxPage - 1) : hospitals.totalPages)})" >
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${hospitals.number eq 0}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${hospitals.number - 1}+')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${hospitals.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${hospitals.number+1 ge hospitals.totalPages}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${hospitals.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="form-inline justify-content-center" th:object="${hospitalSearchDto}">
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="hName">병원명</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>

</html>