<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Main - Medicow Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="sb-nav-fixed">

<!-- 공통 side bar -->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/admin/main">메디카우 시스템</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/admin/logout">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">DATA</div>
                    <a class="nav-link" href="/admin/main">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        대시보드
                    </a>

                    <!-- 데이터 관리 구간 -->
                    <div class="sb-sidenav-menu-heading">Manager</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        회원 관리
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/member"><i class="fas fa-columns"></i>&nbsp;회원 목록</a>
                            <a class="nav-link" href="/admin/hospital"><i class="fas fa-columns"></i>&nbsp;병원 목록</a>
                        </nav>
                    </div>
                    <!-- 차트 구간 -->
                    <a class="nav-link" href="/admin/review">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        리뷰 삭제 요청
                    </a>

                    <!-- 문의 전체 -->
                    <div class="sb-sidenav-menu-heading">Notice</div>
                    <a class="nav-link" href="/admin/contactad">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        문의사항
                    </a>
                    <a class="nav-link" href="/admin/notice">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        공지사항
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">환영합니다.</div>
                관리자 페이지
            </div>
        </nav>
    </div>
    <!-- 여기까지가 side bar -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">대시보드</h1>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                메디카우 회원가입
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                            <script th:inline="javascript">
                                        // Area Chart Example
                                        var area = [[${areaChartValues}]];
                                        var areaList = new Array();

                                        for(var i = 0; i < area.length; i++){
                                            areaList.push(area[i]);
                                        }

                                        var ctx = document.getElementById("myAreaChart");
                                        var myLineChart = new Chart(ctx, {
                                          type: 'line',
                                          data: {
                                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                                            datasets: [{
                                              label: "월별 회원 가입수",
                                              lineTension: 0.3,
                                              backgroundColor: "rgba(2,117,216,0.2)",
                                              borderColor: "rgba(2,140,216,1)",
                                              pointRadius: 5,
                                              pointBackgroundColor: "rgba(2,117,216,1)",
                                              pointBorderColor: "rgba(255,255,255,0.8)",
                                              pointHoverRadius: 5,
                                              pointHoverBackgroundColor: "rgba(2,135,216,1)",
                                              pointHitRadius: 50,
                                              pointBorderWidth: 2,
                                              data: areaList,
                                            }],
                                          },
                                          options: {
                                            scales: {
                                              xAxes: [{
                                                time: {
                                                  unit: 'date'
                                                },
                                                gridLines: {
                                                  display: false
                                                },
                                                ticks: {
                                                  maxTicksLimit: 7
                                                }
                                              }],
                                              yAxes: [{
                                                ticks: {
                                                  precision: 0,
                                                  min: 0,
                                                  max: 40000,
                                                  maxTicksLimit: 5
                                                },
                                                gridLines: {
                                                  color: "rgba(0, 0, 10, .125)",
                                                }
                                              }],
                                            },
                                            legend: {
                                              display: false
                                            }
                                          }
                                        });
                                    </script>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                메디카우 병원 회원가입
                            </div>
                            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                            <script th:inline="javascript">
                                        // Bar Chart Example
                                        var value = [[${barChartValues}]];
                                        var valueList = new Array();
                                        var colorList = new Array();

                                        function colorize() {
                                            var r = Math.floor(Math.random()*200);
                                            var g = Math.floor(Math.random()*200);
                                            var b = Math.floor(Math.random()*200);
                                            var color = 'rgba(' + r + ', ' + g + ', ' + b + ', 0.7)';
                                            return color;
                                        }
                                        for(var i = 0; i < value.length; i++){
                                            valueList.push(value[i]);
                                            colorList.push(colorize());
                                        }


                                        var ctx = document.getElementById("myBarChart");
                                        var myLineChart = new Chart(ctx, {
                                          type: 'bar',
                                          data: {
                                            labels: ["7월", "8월", "9월", "10월", "11월", "12월", "1월", "2월", "3월", "4월", "5월", "6월"],
                                            datasets: [{
                                              label: "1년간 가입수",
                                              backgroundColor: colorList,
                                              borderColor: "rgba(2,117,216,1)",
                                              data: valueList,
                                            }],
                                          },
                                          options: {
                                            scales: {
                                              xAxes: [{
                                                time: {
                                                  unit: 'month'
                                                },
                                                gridLines: {
                                                  display: false
                                                },
                                                ticks: {
                                                  maxTicksLimit: 6
                                                }
                                              }],
                                              yAxes: [{
                                                ticks: {
                                                  min: 0,
                                                  max: 15000,
                                                  maxTicksLimit: 5
                                                },
                                                gridLines: {
                                                  display: true
                                                }
                                              }],
                                            },
                                            legend: {
                                              display: false
                                            }
                                          }
                                        });

                                    </script>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        메디카우 공공데이터 테이블 조회
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>병원이름</th>
                                <th>병원주소</th>
                                <th>병원번호</th>
                                <th>병원x좌표</th>
                                <th>병원y좌표</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>병원이름</th>
                                <th>병원주소</th>
                                <th>병원번호</th>
                                <th>병원x좌표</th>
                                <th>병원y좌표</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="data, status: ${datas.getContent()}">
                                <td th:text="${data.hosName}"></td>
                                <td th:text="${data.hosAddress}"></td>
                                <td th:text="${data.hosTel}"></td>
                                <td th:text="${data.hosPosX}"></td>
                                <td th:text="${data.hosPosY}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; 메디카우 2022</div>
                    <div>
                        <a>Privacy Policy</a>
                        &middot;
                        <a>Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/bootstrap/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/bootstrap/js/datatables-simple-demo.js"></script>
</body>
</html>
