<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<meta charset="UTF-8">

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div class="myPageContainer" layout:fragment="content">

    <div class="mypage_link_container">
        <ul class=mypage_ul>
            <li><a href="/user/members/meUpdate">내 정보 수정</a></li>
        </ul>
    </div>

    <div class="myPageContent">
        <img th:src="@{/image/medicow_logo.png}" class="logo-img">
        <div>마이 페이지 입니다.</div>
        <!--        <h2>개인 정보 수정</h2>-->
        <!--        <form th:action="@{/member/mypage}" role="form" th:object="${memberFormDto}" method="post">-->
        <!--            <label th:for="name">이름</label>-->
        <!--            <input type="text"  th:value="*{name}">-->
        <!--            <label th:for="address">주소</label>-->
        <!--            <input type="text" th:value="*{address}">-->
        <!--            <button>수정</button>-->
        <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <!--        </form>-->
    </div>
</div>
</html>