<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<!--<link th:href="@{/css/health.css}" rel="stylesheet" />-->
<meta charset="UTF-8">

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div class="healthContainer" layout:fragment="content">
    <div class="banner_img">
        <h2 class="">메디카우 유익한 건강정보</h2>
        <div class="circle">
            <h3>MediCow</h3>
            <h5>건강정보</h5>
        </div>
    </div>
    <div class="player_list">
        <iframe class="player" src="https://www.youtube.com/embed/1Ie1c6Zxcio?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/ta7AXSS3R5A?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/Rye_9x7IJd0?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/xB6vZ-DFjUY?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/yHjEBfBIjRI?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/LtNW8yjGf5k?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/iyAh0q5HfXo?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/3SZAWco5UU8?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/8l66Gf4yzuI?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="player" src="https://www.youtube.com/embed/VplNMDxaWHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</html>